@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");

:root {
  --font: "Caveat", cursive;
  --cyan: #00d09c;
  --lg-white: #ffffffab;
}

body {
  background-color: var(--cyan);
  font-family: var(--font);
  padding: 0;
  margin: 0px auto;
  color: white;
  overflow-x: hidden;
}

.ga543AppHead {
  margin: 2rem 0rem 1rem 0rem;
  text-align: center;
  font-size: 3em;
}

.ga543ResultHead {
  padding: 1rem 0rem 1rem 0rem;
  font-size: 2em;
}

.ga543BoardAndHeader {
  display: grid;
  place-items: center;
}

.bo846Board {
  max-width: 310px;
  max-height: 310px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.sq219Squares {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 0px;
  background: var(--cyan);
  display: grid;
  place-items: center;
  color: white;
  font-weight: bold;
  font-family: var(--font);
  font-size: 2em;
}

.ga543InfoWrapper {
  display: block;
  justify-content: space-between;
}

.ga543ResetBtn {
  width: 150px;
  min-height: 50px;
  border: 0px;
  font-size: 2em;
  color: var(--cyan);
  cursor: pointer;
  transition: 0.3s ease;
  font-family: var(--font);
}

.ga543ResetBtn:hover {
  transform: scale(1.1);
}

.ga543InfoWrapper {
  width: 90%;
  padding: 10px;
}

.ga543InfoWrapper .ga543Dropdown {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.ga543Dropdown .ga543HistoryHead {
  font-size: 2em;
  cursor: pointer;
}

.ga543DropdownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3em;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.ga543DropdownContent .ga543DropdownList {
  border: 0px;
  color: var(--cyan);
  width: 100%;
  height: 30px;
  background: white;
  font-size: 1.1em;
}

.ga543GameStatus {
  color: green;
  font-size: 30px;
}


.lo123ChoiceFormContainer{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items:center;
}

.lo123ChoiceFormContainer .lo123ChoiceForm{
    width: 260px;
    min-height: 260px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px 25px 20px 20px ;
}

.lo123ChoiceFormLabel{
  font-size: 1.5em;
}

.lo123ChoiceFormInput{
  width: 100%;
  border: 0px;
  padding: 5px 0px 5px 5px;
  margin: 10px 0px 10px 0px;
  outline: none;
}

.lo123ChoiceBtns{
  display: flex;
  flex-direction: row;
}

.lo123PlayerPrompt{
  width: 100%;
  font-size: 1.5em;
}

.lo123PlayerBtn {
  cursor: pointer;
  border: 0px;
  background: var(--lg-white);
  border-radius: 0px;
  width: 120px;
  height: 50px;
  font-size: 1.5em;
  font-family: var(--font);
  color:var(--white);
  display: grid;
  place-items: center;
  margin: 10px 10px 10px 0px;
}

.lo123PlayerBtn:hover,
.lo123PlayerBtn:focus,
.lo123PlayerBtn.active{
  border: 1px solid red;
}

.lo123ChoiceSubmitBtn {
  outline: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 40px;
  font-size: 1.5em;
  font-family: var(--font);
  cursor: pointer;
  transition: all 0.3s ease;
}

.lo123ChoiceSubmitBtn:hover{
  transform: scale(1.05);

}

@media only screen and (max-width: 768px) {
  .sq219Squares {
    height: 80px;
    width: 80px;
  }
}
