@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");

:root {
  --font: "Caveat", cursive;
  --cyan: #00d09c;
}

body {
  background-color: var(--cyan);
  font-family: var(--font);
  padding: 0;
  margin: 0px auto;
  color: white;
}

.gaAppHead {
  margin: 2rem 0rem 1rem 0rem;
  text-align: center;
  font-size: 3em;
}

.gaResultHead {
  padding: 1rem 0rem 1rem 0rem;
  font-size: 2em;
}

.gaBoardAndHeader {
  display: grid;
  place-items: center;
}

.boBoard {
  max-width: 310px;
  max-height: 310px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.sqSquares {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 0px;
  background: var(--cyan);
  display: grid;
  place-items: center;
  color: white;
  font-weight: bold;
  font-family: var(--font);
  font-size: 2em;
}

.gaInfoWrapper {
  display: block;
  justify-content: space-between;
}

.gaResetBtn {
  width: 150px;
  min-height: 50px;
  border: 0px;
  font-size: 2em;
  color: var(--cyan);
  cursor: pointer;
  transition: 0.3s ease;
  font-family: var(--font);
}

.gaResetBtn:hover {
  transform: scale(1.1);
}

.gaInfoWrapper {
  width: 90%;
  padding: 10px;
}

.gaInfoWrapper .gaDropdown {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.gaDropdown .gaHistoryHead {
  font-size: 2em;
  cursor: pointer;
}

.gaDropdownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3em;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.gaDropdownContent .gaDropdownList {
  border: 0px;
  color: var(--cyan);
  width: 100%;
  height: 30px;
  background: white;
  font-size: 1.1em;
}

.gaGameStatus {
  color: green;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .sqSquares {
    height: 80px;
    width: 80px;
  }
}
